<!DOCTYPE html>
<html lang="id">
<head>
   <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
  <title>Detail Kamar</title>
  <link rel="stylesheet" href="/css/kamar.css">
</head>
<body>

<div class="page-header">
  <h2 id="judul-kamar">🛏️ Kamar</h2>
  <p id="jumlah-santri">Memuat...</p>
</div>

<div id="santri-container" class="santri-container"></div>

<button class="btn-back" onclick="history.back()">⬅ Kembali</button>

<script src="/js/kamar-detail.js"></script>
</body>
</html>
