<!DOCTYPE html>
<html lang="id">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
  <title>Beranda Tamu</title>
  <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@24,400,0,0" />
  <link href="https://fonts.googleapis.com/css2?family=Scheherazade+New:wght@400;700&display=swap" rel="stylesheet">
  <script src="https://unpkg.com/@dotlottie/player-component@latest/dist/dotlottie-player.mjs" type="module"></script>
  <link rel="stylesheet" href="/css/tamu.css" />
</head>
<body>
<header class="pondok-header">
  <img src="/img/logo.png" alt="Logo Pondok" class="pondok-logo">
  <div class="pondok-info">
    <h1 class="pondok-nama">Pondok Pesantren Al-Itqon</h1>
    <p class="pondok-tagline">Tahfidz • Tarbiyah • Akhlaq</p>
  </div>
</header>
  <main id="tab-beranda" class="tab-content">
    <section class="waktu-card">
      <div class="waktu-header">
        <div>
          <p class="lokasi" id="user-location">Mencari Lokasi...</p>
          <p class="hari" id="current-date">--</p>
          <p class="hijriah" id="hijri-date">--</p>
        </div>
        <div class="cuaca">
          <dotlottie-player
            src="/assets/jam_sholat.json"
            background="transparent"
            speed="0.5"
            style="width: 60px; height: 60px;"
            loop
            autoplay>
          </dotlottie-player>
        </div>
      </div>
      <h1 class="jam" id="live-clock">00:00</h1>
      <p class="info" id="next-prayer-info">Menghitung...</p>

      <div class="shalat-list">
        <div id="sholat-fajr">
          <span class="icon">☀️</span>
          <span>Subuh</span>
          <b class="time">--:--</b>
        </div>
        <div id="sholat-dhuhr">
          <span class="icon">☀️</span>
          <span>Dzuhur</span>
          <b class="time">--:--</b>
        </div>
        <div id="sholat-asr">
          <span class="icon">⛅</span>
          <span>Ashar</span>
          <b class="time">--:--</b>
        </div>
        <div id="sholat-maghrib">
          <span class="icon">🌅</span>
          <span>Maghrib</span>
          <b class="time">--:--</b>
        </div>
        <div id="sholat-isha">
          <span class="icon">🌙</span>
          <span>Isya</span>
          <b class="time">--:--</b>
        </div>
      </div>
    </section>

    <section class="video">
      ▶️ Video Dokumentasi 
    </section>

    <section class="menu-grid">
      <div class="menu-item" onclick="switchTab('dzikir')">🙏<p>Dzikir & Doa</p></div>
      <div class="menu-item" onclick="location.href='/raport'">📕<p>Raport Santri</p></div>
      <div class="menu-item" onclick="location.href='/kamar'">🛏️<p>Kamar Santri</p></div>
      <div class="menu-item">📖👥<p>Halaqah Qur'an</p></div>
      <div class="menu-item">📋<p>Santri Ujian</p></div>
      <div class="menu-item">📊<p>Struktur Organisasi</p></div>
      <div class="menu-item">🏢<p>Profil Pondok</p></div>
      <div class="menu-item">📜<p>Visi & Misi</p></div>
      <div class="menu-item">☎️<p>Hubungi Admin</p></div>
      <div class="menu-item">👨‍🎓<p>Santri Pulang</p></div>
      <div class="menu-item">🤒<p>Santri Sakit</p></div>
      <div class="menu-item">👳<p>Profil Pembina</p></div>
    </section>
  </main>

  <main id="tab-jadwal" class="tab-content" style="display: none;">
    <section class="jadwal-container">
      <div class="jadwal-header">
        <h2 id="judul-bulanan">Jadwal Shalat Bulan Rajab 1447 H</h2>
        <div class="month-selector">
          <button onclick="changeMonth(-1)">&lt;</button>
          <div class="month-info">
            <b id="hijri-month-name">Rajab 1447H</b><br>
            <span>Bulan Hijriah</span>
          </div>
          <button onclick="changeMonth(1)">&gt;</button>
        </div>
        
        <div class="export-tools">
  <button class="btn-download" onclick="exportPDF()">
    <span class="material-symbols-outlined">description</span>
    Download PDF
  </button>
  
  <button class="btn-download" onclick="exportImage()">
    <span class="material-symbols-outlined">image</span>
    Download Gambar
  </button>
</div>
      </div>

      <div class="location-box">
        <div class="loc-detail">
          <span class="loc-icon">📍</span>
          <div>
            <b id="bulk-location-name">Unknown City, Indonesia</b><br>
            <small id="bulk-coords">Asia/Makassar • -5.1738°, 119.5373°</small>
          </div>
        </div>
        <div class="params-grid">
          <div class="param-item">Subuh: <b>17.5°</b></div>
          <div class="param-item">Isya: <b>18°</b></div>
          <div class="param-item">Mazhab: <b>Syafi'i</b></div>
          <div class="param-item">Ihtiyat: <b>Dz +4, Mg +2</b></div>
        </div>
      </div>

      <div class="table-wrapper">
        <table class="jadwal-table">
          <thead>
            <tr>
              <th>Tanggal</th>
              <th>Subuh</th>
              <th>Duha</th>
              <th>Dzuhur</th>
              <th>Ashar</th>
              <th>Maghrib</th>
              <th>Isya</th>
            </tr>
          </thead>
          <tbody id="bulk-jadwal-body">
            </tbody>
        </table>
      </div>
    </section>
  </main>
<main id="tab-quran" class="tab-content" style="display:none">

  <!-- LIST SURAH -->
  <section class="surah-list" id="surah-list">
    <!-- diisi via JS -->
  </section>

  <!-- DETAIL AYAT -->
  <section class="ayat-container" id="ayat-container" style="display:none">
    <div class="ayat-header">
      <button onclick="backToSurah()">←</button>
      <h3 id="judul-surah">Al-Fatihah</h3>
    </div>

    <div id="ayat-list"></div>
  </section>
</main>
  <main id="tab-dzikir" class="tab-content" style="display:none">
  <section class="dzikir-container">
    <!-- HEADER -->
    <div class="dzikir-header">
      <button onclick="switchTab('beranda')" class="btn-back">←</button>
      <h3>Dzikir & Doa</h3>
    </div>
    <!-- ===== MENU UTAMA ===== -->
    <div id="dzikir-main-menu" class="dzikir-grid">
      <div class="dzikir-card" onclick="openDzikirDetail('pagi-1', 'pagi')">
        <span class="dzikir-icon">🌅</span>
        <div class="dzikir-info">
          <h4>Zikir Pagi</h4>
          <p>Sesuai Sunnah Nabi ﷺ</p>
        </div>
        <span class="arrow">→</span>
      </div>
      <div class="dzikir-card" onclick="openDzikirDetail('petang-1', 'petang')">
        <span class="dzikir-icon">🌇</span>
        <div class="dzikir-info">
          <h4>Zikir Petang</h4>
          <p>Perlindungan di Sore Hari</p>
        </div>
        <span class="arrow">→</span>
      </div>
      <div class="dzikir-card" onclick="openDzikirDetail('sholat-1','sholat')">
        <span class="dzikir-icon">📿</span>
        <div class="dzikir-info">
          <h4>Dzikir & Doa Shalat</h4>
          <p>Bacaan Sholat Fardhu Lengkap</p>
        </div>
        <span class="arrow">→</span>
      </div>
      <div class="dzikir-card" onclick="openDzikirDetail('Sebab-1','Sebab')">
        <span class="dzikir-icon">🤲</span>
        <div class="dzikir-info">
          <h4>Doa Karena Sebab</h4>
          <p>Kumpulan doa-doa karena sebab tertentu</p>
        </div>
        <span class="arrow">→</span>
      </div>
      <div class="dzikir-card" onclick="openDzikirDetail('Walimah-1','Walimah')">
        <span class="dzikir-icon">🍴</span>
        <div class="dzikir-info">
          <h4>Doa Pernikahan & Walimah</h4>
          <p>Kumpulan doa-doa walimah</p>
        </div>
        <span class="arrow">→</span>
      </div>
      <div class="dzikir-card" onclick="openDzikirDetail('Setiap-1','Setiap')">
        <span class="dzikir-icon">📆</span>
        <div class="dzikir-info">
          <h4>Doa Dzikir Setiap Hari</h4>
          <p>Kumpulan doa-doa setiap saat</p>
        </div>
        <span class="arrow">→</span>
      </div>
      <div class="dzikir-card" onclick="openDzikirDetail('Ruqyah1','Ruqyah')">
        <span class="dzikir-icon">🙏</span>
        <div class="dzikir-info">
          <h4>Bacaan Ruqyah</h4>
          <p>Kumpulan doa-doa ruqyah</p>
        </div>
        <span class="arrow">→</span>
      </div>
      <div class="dzikir-card" onclick="openDzikirDetail('Ramadhan-1','Ramadhan')">
        <span class="dzikir-icon">🌙</span>
        <div class="dzikir-info">
          <h4>Doa Ketika Ramadhan</h4>
          <p>Kumpulan doa-doa ramadhan</p>
        </div>
        <span class="arrow">→</span>
      </div>
      <div class="dzikir-card" onclick="openDzikirDetail('Perjalanan-1','Perjalanan')">
        <span class="dzikir-icon">🚗</span>
        <div class="dzikir-info">
          <h4>Doa & Dzikir Ketika Perjalanan</h4>
          <p>Kumpulan doa-doa saat perjalanan</p>
        </div>
        <span class="arrow">→</span>
      </div>
      <div class="dzikir-card" onclick="openDzikirDetail('Musibah-1','Musibah')">
        <span class="dzikir-icon">🤕</span>
        <div class="dzikir-info">
          <h4>Doa Saat Musibah & Kesempitan</h4>
          <p>Kumpulan doa-doa saat tertimpa musibah</p>
        </div>
        <span class="arrow">→</span>
      </div>
      <div class="dzikir-card" onclick="openDzikirDetail('Keluarga-1','Keluarga')">
        <span class="dzikir-icon">👪</span>
        <div class="dzikir-info">
          <h4>Doa Kebaikan Dalam Keluarga</h4>
          <p>Doa meminta kebaikan untuk keluarga</p>
        </div>
        <span class="arrow">→</span>
      </div>
      <div class="dzikir-card" onclick="openDzikirDetail('Ilmu-1','Ilmu')">
        <span class="dzikir-icon">📚</span>
        <div class="dzikir-info">
          <h4>Doa Ketika Menuntut Ilmu</h4>
          <p>Kumpulan doa-doa menuntut ilmu</p>
        </div>
        <span class="arrow">→</span>
      </div>
      <div class="dzikir-card" onclick="openDzikirDetail('Harian-1','Harian')">
        <span class="dzikir-icon">📆</span>
        <div class="dzikir-info">
          <h4>Doa Kegiatan Sehari-hari</h4>
          <p>Kumpulan doa-doa harian</p>
        </div>
        <span class="arrow">→</span>
      </div>
      <div class="dzikir-card" onclick="openDzikirDetail('HajiUmroh-1','HajiUmroh')">
        <span class="dzikir-icon">🕋</span>
        <div class="dzikir-info">
          <h4>Doa Ketika Haji & Umroh</h4>
          <p>Kumpulan doa-doa haji & umroh</p>
        </div>
        <span class="arrow">→</span>
      </div>
      <div class="dzikir-card" onclick="openDzikirDetail('Fitri-1','Fitri')">
        <span class="dzikir-icon">🎉</span>
        <div class="dzikir-info">
          <h4>Doa Idul Fitri & Adha</h4>
          <p>Kumpulan doa-doa dua ied</p>
        </div>
        <span class="arrow">→</span>
      </div>
      <div class="dzikir-card" onclick="openDzikirDetail('Fenomena-1','Fenomena')">
        <span class="dzikir-icon">🌟</span>
        <div class="dzikir-info">
          <h4>Doa Terkait Fenomena Alam</h4>
          <p>Kumpulan doa-doa terkait fenomena alam</p>
        </div>
        <span class="arrow">→</span>
      </div>
      <div class="dzikir-card" onclick="openDzikirDetail('DzikirSetelahSholat1','DzikirSetelahSholat')">
        <span class="dzikir-icon">📿</span>
        <div class="dzikir-info">
          <h4>Doa Dzikir Setelah Sholat</h4>
          <p>Kumpulan doa-doa dzikir setelah sholat</p>
        </div>
        <span class="arrow">→</span>
      </div>
      <div class="dzikir-card" onclick="openDzikirDetail('Akhlak-1','Akhlak')">
        <span class="dzikir-icon">🤲</span>
        <div class="dzikir-info">
          <h4>Doa Kebaikan Agama & Akhlak</h4>
          <p>Kumpulan doa meminta kabaikan agama & akhlak</p>
        </div>
        <span class="arrow">→</span>
      </div>
      <div class="dzikir-card" onclick="openDzikirDetail('Kematian-1','Kematian')">
        <span class="dzikir-icon">📿</span>
        <div class="dzikir-info">
          <h4>Bacaan Doa Berkaitan dengan Kematian</h4>
          <p>Doa Berkaitan Dengan Kematian Seseorang</p>
        </div>
        <span class="arrow">→</span>
      </div>
    </div>
  </div>
    <!-- ===== END SUBMENU ===== -->
    <!-- ===== DETAIL VIEW ===== -->
    <div id="dzikir-detail-view" style="display:none">

      <div class="dzikir-header">
        <button onclick="backFromDetail()" class="btn-back">← Kembali</button>
        <h3 id="dzikir-detail-title">Judul Doa</h3>
      </div>                                                                                         
      <div id="dzikir-content-area" class="dzikir-detail-content">                                           <!-- isi dzikir / doa -->
      </div>

    </div>
    <!-- ===== END DETAIL VIEW ===== -->

  </section>
</main>

  <nav class="navbar">
    <div class="nav active" id="nav-beranda" onclick="switchTab('beranda')">
      🏠<span>Beranda</span>
    </div>
     <div class="nav" id="nav-jadwal" onclick="switchTab('jadwal')">
    <dotlottie-player
      src="/assets/masjid.json"
      background="transparent"
      speed="1.5"
      style="width: 28px; height: 28px; margin-bottom: 2px;"
      loop
      autoplay>
    </dotlottie-player>
    <span>Shalat</span>
    </div>
    <div class="nav" id="nav-quran" onclick="switchTab('quran')">
    <dotlottie-player
      src="/assets/book.json"
      background="transparent"
      speed="1"
      style="width: 28px; height: 28px; margin-bottom: 2px;"
      loop
      autoplay>
    </dotlottie-player>
      <span>Qur'an</span>
    </div>
    <div class="nav">
      ☰<span>Lainnya</span>
    </div>
  </nav>

  <script src="/js/wahdahCalculatorRaw.js"></script>
  <script src="/js/wahdahAdapter.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/html2canvas@1.4.1/dist/html2canvas.min.js"></script>
 <script src="https://cdn.jsdelivr.net/npm/jspdf@2.5.1/dist/jspdf.umd.min.js"></script>
  <script src="/js/tamu.js"></script>
</body>
    <div id="export-container-full"
     style="position:fixed; top:-9999px; left:-9999px; z-index:-1;
            background:#ffffff; padding:24px;">

</div>
</html>
